<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', { page: "mensaje" }) %>

    
<body>
   
    <div class="container">
    <%- include('partials/header') %>
    <%- include('partials/banner') %>
    <%- include('partials/navegacion') %>
    <%- include('partials/informacion') %>
    <%- include('partials/carritoFlotante') %>

<!------------------------CONTENIDO---------------------------->
        <div class="contenido">
          <%- include('particulares/formularios/form_contacto') %>
         
        </div>
                    <!-- ------------------------------------------------------------ -->
         
                    
                
        
                    <%- include('partials/footer') %>

        </div>
        <!-- ------------------------------------------------------------ -->

       

    <script src="/Funciones.js"></script>
</body>

</html>