<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', { page: "DetalleDeProducto" }) %>

    
<body>
   
    <div class="container">
    <%- include('partials/header') %>
    <%- include('partials/banner') %>
    <%- include('partials/navegacion',{direccion:direccion}) %>
    <%- include('partials/informacion') %>
    <%- include('partials/carritoFlotante') %>


<!------------------------CONTENIDO---------------------------->
        <div class="contenido">
           <%- include('particulares/descripcion_producto',{producto: producto}) %>
        </div>
                    <!-- ------------------------------------------------------------ -->
         
                    
                
        
                    <%- include('partials/footer') %>

        </div>
        <!-- ------------------------------------------------------------ -->

       

        <script src="/Funciones otras.js"></script>

</body>

</html>