<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', { page: page }) %>

    
<body>
   
    <div class="container">
    <%- include('partials/header') %>
    <%- include('partials/banner') %>
    <%- include('partials/navegacion',{direccion:direccion}) %>
    <%- include('partials/informacion') %>
    <%- include('partials/carritoFlotante') %>

<!------------------------CONTENIDO---------------------------->
        <div class="contenido">
           
            <%- include('particulares/ofertas', {ProductoOferta,oferta})  %>

    <section class="productos" >
       
<%- include('partials/productos_tipo', {productos:Juegos, tipo: "Juegos"}) %>
<%- include('partials/productos_tipo', {productos: Libros,tipo: "Libros"}) %>
<%- include('partials/productos_tipo',{productos: Articulos, tipo: "Articulos"}) %>

<% console.log(Juegos) %>
        </section> 
        </div>
                    <!-- ------------------------------------------------------------ -->
         
                    
                
        
                    <%- include('partials/footer') %>

        </div>
        <!-- ------------------------------------------------------------ -->

       

    <script src="/Function index.js"></script>
    <script src="/Function productos.js"></script>

</body>

</html>