<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head', { page: "seccionProductos" }) %>

    
<body>
   
    <div class="container">
    <%- include('partials/header') %>
    <%- include('partials/banner') %>
    <%- include('partials/navegacion',{direccion:direccion}) %>
    <%- include('partials/informacion') %>
    <%- include('partials/carritoFlotante') %>

<!------------------------CONTENIDO---------------------------->
        <div class="contenido">
       
            <section class="productos">
                 <% if (sector === 1) { %>
  <%- include('particulares/aside/asideJuegos') %>
<% } else if (sector === 2) { %>
  <%- include('particulares/aside/asideLibros') %>
<% } else if (sector === 3) { %>
  <%- include('particulares/aside/asideArticulos') %>
<% } %>
                <% datosSecciones.forEach(element => { %>
                    <%- include('partials/productos_tipoP', { titulo: element.titulo, productos: element.productos }) %>
                <% }) %>
            </section>
            
       

        </section> 
        </div>
                    <!-- ------------------------------------------------------------ -->
         
                    
                
        
                    <%- include('partials/footer') %>

        </div>
        <!-- ------------------------------------------------------------ -->

       
<script src="/Function index.js"></script>
    <script src="/Function otras.js"></script>
    <script src="/Function productos.js"></script>
</body>

</html>